/**
* Project: burger-builder
* Author: Le Hai Diep(dieple)
* Date-Time: 14/10/2019-22:44
*/
.Burger {
  width: 45%;
  height: calc(100vh - 317px - 56px);
  margin: 56px auto 0 auto;
  overflow-y: scroll;
  font-weight: bold;
  font-size: 1.2rem;
}

